#ant specific
Slickxample/dist/
Slickxample/build/
 
#netbeans specific
Slickxample/core
Slickxample/nbproject/*
!Slickxample/nbproject/project.properties
!Slickxample/nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear